<div class="row recipe-edit">
    <div class="col-md-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" formControlName="name" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="imagePath" style="margin-top: 15px;">Image URL:</label>
                        <input type="text" id="imagePath" formControlName="imagePath" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description" style="margin-top: 15px;">Description:</label>
                        <textarea type="text" class="form-control" formControlName="description"  id="description" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <img src="" alt="">
            </div>

            <div class="row">
                <div class="col-md-12" formArrayName="ingredients">
                    <label for="addIngredient" style="margin-top: 15px;">Ingredients: 
                        <span><i class="fa fa-plus-square" aria-hidden="true" style="color: var(--hc-blue-color-rgb);font-size:20px;" (click)="onAddIngredient()"></i></span>
                    </label>
                    <!-- Form groups in Angular are typically identified by strings, but you can use numbers too. Angular will implicitly convert the index number to a string when you pass it to formGroupName. -->
                    <!--controls below is referring to the return value of the getter function, we're not directly iterating over a function here, when it encounters controls in this ngFor statement, it treats it like a property and retrieves its values by calling the getter function -->
                    <div class="row" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i" style="margin-bottom: 15px;">
                        <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-md-2">
                            <input type="number" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-sm btn-outline-secondary">Delete Ingredient</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                    <button class="btn btn-hc-primary" type="submit">Save</button>
                    <button class="btn btn-outline-primary" style="margin-left: 20px;" type="buttom">Cancel</button>
                </div>
            </div>
            
        </form>
    </div>
</div>
