<div class="row">
    <div class="col-md-5">
        <h2>{{recipe.name}}</h2>
        <div class="dropdown" appDropdown #r="appDropdown">
            <button class="btn btn-hc-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Manage Recipe
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" [ngClass]="{show: r.isShown}">
              <li><a class="dropdown-item" href="#">To Shopping List</a></li>
              <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
              <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
        </div>        
        <p>{{recipe.description}}</p>
        <div>Ingredients</div>
    </div>
    <div class="col-md-7">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}">
    </div>
  </div>


