#recipe-start{
    margin-bottom: 60px;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .dropdown-item:active {
    background-color: var(--hc-orange-color-rgb);
}