<div id="recipe-start" class="row">
    <div class="col-md-5">
        <h2>{{recipe.name}}</h2>
        <div class="dropdown" appDropdown #r="appDropdown">
            <button class="btn btn-hc-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Manage Recipe
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" [ngClass]="{show: r.isShown}">
              <li><a (click)="onAddToShoppingList()" class="dropdown-item" style="cursor:pointer;">To Shopping List</a></li>
              <li><a class="dropdown-item" style="cursor:pointer;">Edit Recipe</a></li>
              <li><a class="dropdown-item" style="cursor:pointer;">Delete Recipe</a></li>
            </ul>
        </div>        
        <p>{{recipe.description}}</p>
        <div class="col-xs-5">
          <ul class="list-group list-group-numbered">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} - {{ingredient.amount}}</li>

          </ul>
        </div>
    </div>
    <div class="col-md-7">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}">
    </div>
  </div>


