<div class="row">
    <h2>My Shopping List</h2>
    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
    </div>

    <ul class="list-group list-group-flush list-group-numbered">
        <a class="list-group-item d-flex justify-content-between align-items-start" style="cursor: pointer" *ngFor="let ingredient of ingredients">
            <div class="ms-2 me-auto">
                <div>{{ingredient.name}}</div>
            </div>
            <span class="badge bg-hc-primary rounded-pill">{{ingredient.amount}}</span>
        </a>

    </ul>
</div>
