h2{
    margin-bottom: 30px;
}

ul{
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 10px rgba(237, 237, 237, 0.45);
    padding: 20px;
}

.list-group-item:hover{
    color: rgb(0, 191, 209);
}