<div class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="logo">
                <img src="../../assets/images/logo.png">
            </div>
            <div class="welcome-text mb-4">
                <h5>Welcome to HomeChef!</h5>
                <p>Sign up or login in to continue your culinary journey or register to begin crafting your own tale.</p>
            </div>
            <form>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control">
                </div>
                <div>
                    <button class="btn btn-hc-primary mt-4 mb-4" type="submit">{{ isLoginMode ? 'Login' : 'Register'}}</button>
                </div>
                <div class="login">
                   <p>{{ isLoginMode ? 'New to the HomeChef family?' : 'Been cooking with us before?'}}<span (click)="onSwitchMode()"> {{ isLoginMode ? 'Join our kitchen.' : 'Dive back in.'}}</span></p>
                </div>
            </form>
        </div>
        <div class="col-md-6 image-section">
            <h1>Where every kitchen tells a story and every dish is a chapter.</h1>
            <p>Delve into a world of flavors, memories, and cherished moments.<p>
        </div>
    </div>
</div>