<div class="container col-xxl-8 px-2">
    <div class="row flex-lg-row-reverse align-items-center hero">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">What would you like to cook?</h1>
        <p class="lead">Quickly add your favorite recipe from here</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-hc-primary btn-lg px-4 me-md-2">New Recipe</button>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <app-recipe-item></app-recipe-item>
</div>
    




