<div class="container col-xxl-12 px-2">
  <div class="row flex-lg-row-reverse align-items-center hero">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">What would you like to make?</h1>
      <p class="lead">Add a new recipe that inspire you to do more! </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-hc-primary btn-lg px-4 me-md-2">Add Recipe</button>
      </div>
    </div>
  </div>
</div>


<div class="py-5">
  <h2 class="text-center pb-4">My Recipes</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let recipeEl of recipes">
        <app-recipe-item [recipe]="recipeEl"></app-recipe-item>
      </div>
    </div>
</div>


    




