<div class="container col-xxl-12 px-2">
  <div class="row flex-lg-row-reverse align-items-center hero">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">What would you like to make?</h1>
      <p class="lead">Add a new recipe that inspire you to do more! </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-hc-primary btn-lg px-4 me-md-2">Add Recipe</button>
      </div>
    </div>
  </div>
</div>


<div class="py-5">
  <h2 class="text-center pb-4">My Recipes</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col" *ngFor="let recipe of recipes">
      <div class="card">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" style="height:250px; object-fit: cover;">
        <div class="card-body">
          <h5>{{recipe.name}}</h5>
          <p class="card-text">{{recipe.description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-recipe-item></app-recipe-item>
    




