.hero{
    background-image: url('../../../assets/images/hero7.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -050px;
    height: 600px;
}

#header-text{
    background-color: rgb(255, 255, 255, 0.8);
    width: 500px;
    height: 280px;
    margin: 0 auto;
}