/* You can add global styles to this file, and also import other style files */

:root {
    --hc-orange-color-rgb:rgb(255, 157, 0);
    --hc-orange-color-hsl:hsl(35, 100%, 46%);
    --hc-blue-color-rgb:rgb(0, 191, 209);
    --hc-blue-color-hsl:hsl(185, 100%, 38%);
}

.btn-hc-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--hc-orange-color-rgb);
    --bs-btn-border-color: var(--hc-orange-color-hsl);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--hc-orange-color-hsl);
    --bs-btn-hover-border-color: var(--hc-orange-color-hsl);
    --bs-btn-focus-shadow-rgb: var(--hc-orange-color-rgb);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--hc-orange-color-hsl);
    --bs-btn-active-border-color: var(--hc-orange-color-hsl);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--hc-orange-color-hsl);
    --bs-btn-disabled-border-color: var(--hc-orange-color-hsl);
}


.btn-outline-primary {
    --bs-btn-color: var(--hc-orange-color-rgb);
    --bs-btn-border-color: var(--hc-orange-color-rgb);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--hc-orange-color-hsl);
    --bs-btn-hover-border-color: var(--hc-orange-color-hsl);
    --bs-btn-focus-shadow-rgb: var(--hc-orange-color-rgb);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--hc-orange-color-hsl);
    --bs-btn-active-border-color: var(--hc-orange-color-hsl);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--hc-orange-color-hsl);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--hc-orange-color-hsl);
    --bs-gradient: none;
}

.btn-outline-secondary {
    --bs-btn-color: var(--hc-blue-color-rgb);
    --bs-btn-border-color: var(--hc-blue-color-rgb);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--hc-blue-color-hsl);
    --bs-btn-hover-border-color: var(--hc-blue-color-hsl);
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--hc-blue-color-hsl);
    --bs-btn-active-border-color: var(--hc-blue-color-hsl);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--hc-blue-color-hsl);
    --bs-gradient: none;
}

.bg-hc-primary {
    --bs-bg-opacity: 1;
    background-color: var(--hc-blue-color-rgb)!important;
}

body{
    background-color: #f1f6fa;
    margin: 0;
    min-height: 100%;
    padding-bottom: 150px;   
}
